.popup__container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  margin: 0 19px;
}

@media screen and (min-width: 918px) {
  .popup__container {
    margin: 0;
  }
}