.profile__title {
  margin: 0 auto 14px;
  font-size: 27px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

@media screen and (min-width: 918px) {
  .profile__title {
    line-height: 1.15;
    font-size: 42px;
    margin-bottom: 16px;
  }
}